@media only screen and (min-width:600px){
    #navbar-menu{
        font-size: 25px;
        gap: 30px;
    }
    .navbar{
        padding: 1% 7%;
    }
    .info-about-program{
        padding: 10% 8%;
    }
    .p-aboutprogram{
        font-size: 32px;
        line-height: 45px;
    }
    .skyblue{
        font-size: 34px;
    }
    .h1{
        font-size: 40px;
        letter-spacing: 3px;
    }
    .card{
        width: 490px;
        border-radius: 7px;
        border: 2px solid gray;
    }
    .course-info{
        gap: 30px;
        padding-inline-start: 10% 7% 12% 7%;
    }
    .course-name{
        letter-spacing: 1px;
        font-size: 28px;
    }
    .registration{
        font-size: 28px;
    }
    .course-details{
        font-size: 28px;
        margin: 0 10px;
    }
    .arrow{
        width: 26px;
        height: 26px;
        margin-top: 2%;
    }
    .h2{
        font-size: 35px;
        letter-spacing: 1px;
    }
    .faqs{
        gap: 35px;
    }
    .faqsbox{
        gap: 32px;
    }
    .faqs-h1{
        font-size: 38px;
        width: 380px;
        letter-spacing: 2px;
    }
    .question-p{
        font-size: 30px;
        letter-spacing: 1px;
    }
    .arrow2{
        width: 26px;
        height: 26px;
    }
    .answer1,
    .answer2,
    .answer3,
    .answer1-3{
        font-size: 25px;
    }
    .answer1-2{
        font-size: 23px;
    }
    .faqs-h3{
        font-size: 32px;
        letter-spacing: 1px;
    }
}


@media only screen and (min-width:480px){
    .card{
        width: 400px;
    }
    .btn-1{
        margin-right: 20%;
    }
}


@media only screen and (min-width:550px){
    .card{
        width: 480px;
    }
    .p-aboutprogram{
        font-size: 28px;
        line-height: 40px;
    }
    .btn-1{
        margin-right: 27%;
    }
}